.container-fluid {
    height: 100%;
    width: 100%;
}

.row {
    margin: 20px;
}

.artist-main {
    height: 30%;
}

.related-artists {
    height: 70%;
}

.relatedImg {
    border: 2px solid rgb(248, 248, 248);
    padding: 3px;
    border-radius: 50%;
    width: 80%;
    height: 80%;
}

.profile {
    width: 80%;
    border: 2px solid yellow;
    border-radius: 5%;
}

.item {
    padding: 10px;
    text-align: center;
}

.left {
    width: 50%;
    padding: 10px;
}

.right {
    width: 50%;
    padding: 10px;
}

.content {
    padding: 10px;
    text-align: center;
    color: cornflowerblue;
}